run = "npm run dev"
entrypoint = "server/index.ts"
modules = ["nodejs-22:v10-20241003-2ecd0ea"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 5000
externalPort = 80
